<div id="app">
  <ul>
    <li v-for="message in messages">
      <span class="brackets">[</span><span class="time">{{ message.at }}</span><span class="brackets">]</span> {{ message.body }}
    </li>
  </ul>
  <input type-"text" v-model="newMessage" v-on:keyup.13="sendNewMessage" placeholder="Type here and press enter to send">
</div>
